:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}
*{
    border: 0;
    padding: 0;
}
body{
    display:contents;
    font-family: Arial, Helvetica, sans-serif;
}
#headersuperior{
    position: fixed;
    background-color:#ffffff ;
    height: 6vh;
    left: 15.7%;
    width: 200vh;
    /* border: solid 2px #818181; */
    z-index: 1000; 
}
.containerTotal{
    /* position: fixed; */
    display: flex;
    height: 100vh; 
}
.container{
    display: flex;
    height: 180vh;
    width: 2000px;
    background-color: #e4e4e4;
}
.containerButtons{
    font-family: inter;
    font-size: 25px;
    position: fixed;
    /* border: solid 2px #818181; */
    display: flex;
    width: 300px;
    height: 100vh;
    background-color: #ffffff;
    flex-direction: column;
    gap: 20px;
}
button{
    display: flex;
    flex-direction: left;
    position:relative;
    top: 10%;
    font-family: inter;
    font-size: 25px;
    padding: 10px;
    background-color: transparent;
}
/* .buttonLink{
    display: flex;
    justify-content:baseline;
    font-weight: bold;
    width: 100%;
    font-size:medium;
    color: rgb(255, 255, 255);
    background-color: #ffffff;
    padding: 2em;
    outline: none;
} */
#logo{
    position: relative;
    top: 1%;
    left: 7%;
    width: 14vh;
}
.graficoLinha, #chart1{
    position: relative;
    top: 21%;
    left: 38%;
}
#chart1{
    width: 900px;
    background-color: rgb(246, 246, 246);
}
#chart2{
    position: relative;
    top:23%;
    left: 38%;
    width: 900px;
    background-color: rgb(246, 246, 246);
}
#chart3{
    position: absolute;
    width: 600px;
    height: 500px;
    top: 38%;
    left: 67.3%;
    background-color: rgb(246, 246, 246);
}
/* #textos{
    display: flex;
    flex-direction:row;
    gap: 85vh;
    position: relative;
    left: 15%;
} */

.rowbutton{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 1vh;
    position: relative;
    left: 5%;
    top: 5%;
}
.config{
    display: flex;
    flex-direction: column;
    }

    #dadosEstoque{
        width: 350px;
        height: 130px;
    }
    .totalgreen{
        background: linear-gradient(270deg, #6AD871,#5BB961,#38723C)
    }
    .baixoEstoqueRed{
        background: linear-gradient(270deg, #E96569,#83393B)
    }
    .EntradasEstoqueBlue{
        background: linear-gradient(270deg, #4AA0FE,#2c6098)
    }
    .saidaEstoquebluemarine{
        background: linear-gradient(270deg, #44C4C1,#215E5D)
    }
.containertrafic{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 5vh;
    top: 20%;
    left: 18%;
}
.ajudasblue{
    background-color: #152551;
    position: relative;
    width: 600px;
    height: 350px;
    top: 58%;
    left: 20%;
}

#txtinicio{
    color: #0F6C08;
    position: absolute;
    top: 7%;
    left: 18%;
    font-size: 37px;
    width: 300px;
    height: 10px;
}