:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}
*{
    border: 0;
    padding: 0;
}
body{
    display:contents;
    font-family: Arial, Helvetica, sans-serif;
}
#headersuperior{
    position: fixed;
    background-color:#ffffff ;
    height: 6vh;
    left: 15.7%;
    width: 200vh;
    /* border: solid 2px #818181; */
    z-index: 1000; 
}
.containerTotal{
    position: relative;
    height: 100vh; 
}
.container{
    position: absolute;
    display: flex;
    height: 100vh;
    width: 210.7vh;
    background-color: #e4e4e4;
}
.containerButtons{
    font-family: inter;
    font-size: 25px;
    position: fixed;
    z-index: 1000;
    /* border: solid 2px #818181; */
    display: flex;
    width: 300px;
    height: 100vh;
    background-color: #ffffff;
    flex-direction: column;
    gap: 20px;
}
button{
    display: flex;
    flex-direction: left;
    position:relative;
    top: 10%;
    font-family: inter;
    font-size: 25px;
    padding: 10px;
    background-color: transparent;
}
/* .buttonLink{
    display: flex;
    justify-content:baseline;
    font-weight: bold;
    width: 100%;
    font-size:medium;
    color: rgb(255, 255, 255);
    background-color: #ffffff;
    padding: 2em;
    outline: none;
} */
#logo{
    position: relative;
    top: 1%;
    left: 7%;
    width: 14vh;
}
/* #textos{
    display: flex;
    flex-direction:row;
    gap: 85vh;
    position: relative;
    left: 15%;
} */

.rowbutton{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 1vh;
    position: relative;
    left: 5%;
    top: 5%;
}
.imageUser{
    position: absolute;
    top: 17%;
    left: 85%;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: #0F6C08;
}
#openButton{
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 10px;
    width: 130px;
    height: 20px;
    top: 10%;
    left: 85%;
    background-color: #0F6C08;
    color: white;
}
#modalDialog{
    position: relative;
    border: 0;
    padding: 0;
    width: 1000px;
    height: 900px;
    background-color: rgb(186, 187, 187);
    border-radius: 1em;
}
#ModalForm{
    position:static;
    top: 0%;
    left: 0%;
    /* width: 900px;
    height: 700px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vh;
    height: 30vh;
}

body {
    font-family: sans-serif;
    background-color: #f0f0f0;
}

#cadastroForm {
    width: 900px;
    height: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-row {
    display: flex;
    margin-bottom: 10px;
}
.form-column{
    display: flex;
    flex-direction: column;
}
label {
    display: block;
    margin-bottom: 5px;
}
#nome{
    width: 180%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#nivelAcesso{
    width: 67%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#cpf{
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#cargo{
    width: 79%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#dataAdmissao{
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#telefone{
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#email{
    width: 171%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#estado{
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#cidade{
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#cep{
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#rua{
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#bairro{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#numero{
    width: 40%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#complemento{
    width: 280%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#senha{
    width: 140%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#line-0{
    gap: 195px;
}
#line-1{
    gap: 3px;
}
#line-2{
    
}
#line-3{
    
}
#line-4{
gap: 30px;
}
#line-5{
    gap: 400px;
}
textarea {
    width: 100%;
    height: 100px;
}

#submitform {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button#adicionar {
    background-color: #28a745;
}