*{
    border: 0;
    padding: 0;
}
body{
    display:contents;
    font-family: Arial, Helvetica, sans-serif;
}
#headersuperior{
    background-color: black ;
    height: 6vh;
}
#headerinferior{
background-color: #3a6b03;
height: 3em;
display: flex;
justify-content: center;
align-items: center;
gap: 1rem;
}
#footersuperior{
background-color: #3a6b03;
height: 1em;

}
#footerinferior{
background-color: black;
height: 5vh;
}
.container{
    display: flex;
    height: 87.3vh;
    background-color: #c6c6c6;
}
.buttonLink{
    font-weight: bold;
    font-size:medium;
    color: rgb(255, 255, 255);
    background-color: #000000;
    padding: 0.5em;
    border-radius: 1vh;
    outline: none;
}
#logo{
    position:absolute;
    left: 2%;
    width: 10vh;
}
#chart1{
    position: absolute;
    top: 20%;
    left: 60%;
    width: 670px;
    background-color: rgb(255, 255, 255);
}
#chart2{
    position: absolute;
    top: 20%;
    left: 5%;
    width: 670px;
    background-color: rgb(255, 255, 255);
}
#textos{
    display: flex;
    flex-direction:row;
    gap: 85vh;
    position: relative;
    left: 15%;
}
