*{
    border: 0;
    padding: 0;
}
body{
    display:contents;
    font-family: Arial, Helvetica, sans-serif;
}
/* #headersuperior{
        background-color: rgb(255, 255, 255) ;
        height: 3vh;
}
#headerinferior{
    background-color: #539507;
    height: 1em;
} */
/* #footersuperior{
    background-color: #3a6b03;
    height: 1em;
    
} */
.container{
    background-image: url(img/Flux_Dev_Create_an_image_with_a_pristine_white_background_wher_0.jpeg);  
    /* background-color: #c2c2c2; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.login{
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 580px;
    height: 730px;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 3em;
    padding: 1em;
    align-items: center;
    position:absolute;
    top: 10%;
    left: 34%;
    box-shadow: 0px 0px 100px 1px #d2d2d2
}
.inputbutton1,.inputbutton2{
    font-size: 20px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 400px;
    height: 60px;
    padding: 5px;
    outline: none;
    background-color: transparent; 
    /* border: 1px solid white; */
    border-bottom: 1px solid white;

    
}
#confirmar{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    width: 230px;
    height: 50px;
    padding: 5px;
    outline: none;
    border-radius: 1em;
    background-color: black;
    color: white;
    transition: 0.3s;
}
#confirmar:hover{
    background-color: rgb(0, 0, 0, 0.7);
}
#foto{
    width:250px;
    height: 250px;
}
.bottons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
#titleLoginEmail{
    color: white;
    position:absolute;
    height: 40px;
    top: 63.5%;
    left: 17%;
    font-size: large;
    transition: 0.5s;
}

#titleLoginSenha{
    color: white;
    position:absolute;
    font-size: large;
    left: 17%;
    top: 73.5%;
    transition: 0.5s;
}

.inputbutton1:focus~#titleLoginSenha,
.inputbutton1:valid~#titleLoginSenha
{
    top: 69.3%;
    font-size: 13px ;
}
.inputbutton2:focus~#titleLoginEmail,
.inputbutton2:valid~#titleLoginEmail{
    top: 58.5%;
    font-size: 13px ;
}
@media screen and (min-width: 1024px) {
    .login {
        width: 40%;
        height: auto;
        left: 30%;
        top: 20%;
        padding: 2em;
    }

    .inputbutton1, .inputbutton2 {
        width: 80%;
        font-size: 22px;
    }

    #confirmar {
        width: 50%;
        font-size: 20px;
    }

    #foto {
        width: 200px;
        height: 200px;
    }

    #titleLoginEmail, #titleLoginSenha {
        font-size: 18px;
        left: 10%;
    }

    .container {
        background-size: contain;
    }
}