@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css');

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}
*{
    border: 0;
    padding: 0;
}
body{
    display:contents;
    font-family: Arial, Helvetica, sans-serif;
}
#headersuperior{
    position: fixed;
    background-color:#ffffff ;
    height: 6vh;
    left: 15.7%;
    width: 200vh;
    /* border: solid 2px #818181; */
    z-index: 1000; 
}
.containerTotal{
    position: relative;
    height: 100vh; 
}
.container{
    position: absolute;
    display: flex;
    height: 100vh;
    width: 210.7vh;
    background-color: #e4e4e4;
}
.containerButtons{
    font-family: inter;
    font-size: 25px;
    position: fixed;
    z-index: 1000;
    /* border: solid 2px #818181; */
    display: flex;
    width: 300px;
    height: 100vh;
    background-color: #ffffff;
    flex-direction: column;
    gap: 20px;
}
button{
    display: flex;
    flex-direction: left;
    position:relative;
    top: 10%;
    font-family: inter;
    font-size: 25px;
    padding: 10px;
    background-color: transparent;
}
/* .buttonLink{
    display: flex;
    justify-content:baseline;
    font-weight: bold;
    width: 100%;
    font-size:medium;
    color: rgb(255, 255, 255);
    background-color: #ffffff;
    padding: 2em;
    outline: none;
} */
#logo{
    position: relative;
    top: 1%;
    left: 7%;
    width: 14vh;
}
/* #textos{
    display: flex;
    flex-direction:row;
    gap: 85vh;
    position: relative;
    left: 15%;
} */

.rowbutton{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 1vh;
    position: relative;
    left: 5%;
    top: 5%;
}
.imageUser{
    position: absolute;
    top: 17%;
    left: 85%;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: #0F6C08;
}
#openButton{
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 50px;
    width: 0px;
    height: 20px;
    top: 27%;
    left: 18%;
    background-color:transparent;
    color: #0F6C08;
}
#closeModal{
    position: absolute;
    top: -0%;
    left: 95%;
    font-size: 22px;
} 
#headertable{
    position: relative;
    top: 27%;
    left: 18%;
    width: 1550px;
    height: 60px;
    background-color: #b5b5b5;
}
#toptable{
    position: relative;
    top: 27%;
    left: 18%;
    width: 1550px;
    height: 60px;
}
#iconlixeira{
    position: absolute;
    font-size: 27px;
    top: 130%;
    left: 110%;
}
#buttonCategory{
    width: 500px;
    display: flex;
    position: relative;
    top: 20%;
    left: 68%;
    color: #0F6C08;
    background-color:transparent;
    z-index: 1000;
    gap: 40px;
}
.inputCtg{
    border: none;
    outline: none;
    position: relative;
    border-radius: 5px;
    font-size: large;
    width: 200px;
    height: 30px;
    padding: 10px;
    background-color: #c2c2c2;
    z-index: 1000;
}
#modalDialog{
    position: relative;
    border: 0;
    padding: 30px;
    width: 900px;
    height: 600px;
    background-color: rgb(186, 187, 187);
    border-radius: 1em;
}
#modalDialog-before {
    position: fixed;
    top: 0;
    right: 0; 
    bottom: 0; 
    left: 0;
    background: rgba(#000, 0.1);
    z-index: 2;
}

body {
    font-family: sans-serif;
    background-color: #f0f0f0;
}

#cadastroForm {
    width: 900px;
    height: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-row {
    display: flex;
    margin-bottom: 10px;
}
.form-column{
    display: flex;
    flex-direction: column;
}
input, textarea{
    outline: none;
}
label {
    display: block;
    margin-bottom: 5px;
}
#nome{
    width: 180%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#nivelAcesso{
    width: 67%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#cpf{
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#cargo{
    width: 79%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#dataAdmissao{
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#telefone{
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#email{
    width: 171%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#estado{
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#cidade{
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#cep{
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#rua{
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#bairro{
    width: 113%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#numero{
    width: 38%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#complemento{
    width: 280%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#senha{
    width: 140%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#line-0{
    gap: 195px;
}
#line-1{
    gap: 3px;
}
#line-2{
    
}
#line-3{
    
}
#line-4{
gap: 0px;
}
#line-4-1{
    display: flex;
    gap: 60px;
}
#line-5{
    gap: 400px;
}
textarea {
    width: 100%;
    height: 100px;
}

#submitform {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button#adicionar {
    background-color: #28a745;
}

.preview-imagem-container{
    width: 0;
    height: 0;
    position: relative;
    top: -8%;
    left: 66%;
}
.preview{
    background-color: #a0a0a0;
    position: absolute;
    width: 260px;
    height: 250px;
    top: 8%;
    left: 65%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#preview-selected-image {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    object-fit:fill;
}
/* Tabela dos funcionarios */

table{
    border-collapse: collapse;
    width: 1550px;
    align-items: center;
    background-color: #007bff;
}

th,td{
    padding: 14px 20px;

}
#buttonEdit{
    background-color: #28a745;
    width: 70px;
    height: 30px;
    font-size: 18px;
    align-items: center;
    border-radius: 5px;
}
#buttonVisualizar{
    background-color: #28a745;
    width: 100px;
    height: 30px;
    font-size: 18px;
    align-items: center;
    border-radius: 5px;
}


